# macOS
.DS_Store
**/.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcworkspace/xcuserdata/

# Build products
build/
DerivedData/
*.app
*.dSYM
*.ipa
*.xcarchive

# Swift Package Manager
.build/
.swiftpm/

# Playgrounds
timeline.xctimeline
playground.xcworkspace
